<!DOCTYPE html>
<html lang="en" ng-app="weatherApp">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	
	
	<link rel="stylesheet" href="assets/css/main.css">
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

	<script src="https://code.angularjs.org/1.4.7/angular.js"></script>
	
	<script src="https://code.angularjs.org/1.4.7/angular-resource.min.js"></script>
	<script src="ngAutocomplete.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
	<script src="app.js"></script>
	
	<script src="services.js"></script>
	<script src="controllers.js"></script>
	<script src="directives.js"></script>

	<title>Brolly or Shades</title>
</head>
<body>
	<div class="content-wrapper">
	
	
	<main ng-controller="mainController">
		<div class="container">		
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h1>Brolly or Shades?</h1>
					
						<div class="form-group">
							<input type="text" class="form-control" ng-model="city" ng-autocomplete options="options" details="details" lat="lat" lng="lng">
						</div>
						
					
				</div>
			</div>

			<div ng-model="lat"></div>

		
			<div class="row">
				<div ng-repeat="w in weatherResult.hourly.data | limitTo: 1">
					<forecast weather-object="w" convert-to-date="convertToDate(dt)" convert-to-centigrade="fahrenheitToCentigrade(daytimeTemp)" date-format="h a" jacket="jacketNoJacket(temp)" shades="shadesNoShades(cloud)" brolly="brollyNoBrolly(chance, intensity)"></forecast>
					
					
				</div>
			</div>
			
		</div>
	</main>

	<footer>
		
	</footer>

	</div>

</body>
</html>